<h1 style="background-color:rgb(200, 200, 255);">Tv Shows</h1>

<div class="row">
    <div class="col-md-7">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Cadena</th>
                    <th>Temporadas</th>
                </tr>
            </thead>
            <tbody id='TableBody'>
                <tr *ngFor="let serie of series" (click)="onSelect(serie)">
                    <td>{{ serie.id }}</td>
                    <td>{{ serie.title }}</td>
                    <td>{{ serie.network }}</td>
                    <td>{{ serie.seasons }}</td>
                </tr>   
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Promedio de Temporadas: {{ averageSeasons }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div *ngIf="selectedSerie" class="col-md-5 d-flex text-center">
        <div class="row justify-content-center w-100">
            <div id="cardDetails" class="card-padding row justify-content-center">
                <img src="{{selectedSerie.image}}" alt="portada {{selectedSerie.title}}" width="200px" height="200px">
                <div id="detailsBody" class="card-body">
                    <h2>{{ selectedSerie.title }}</h2>          
                    <p>{{ selectedSerie.description }}</p>
                    <a href="{{ selectedSerie.website }}" target="_blank">More Info</a>
                </div>
            </div>
        </div>
    </div>
</div>